@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Orbitron;
        src: url('/fonts/Orbitron.ttf') format("truetype");
    }
    @font-face {
        font-family: Manrope;
        src: url('/fonts/Manrope.ttf') format("truetype");
    }
}

@layer utilities {
    :root {
        --gradient-color-1: #ffbfb0;
        --gradient-color-2: #e7534f;
    }
    .text-gradient {
        background: linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
}
